<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <servlet>
        <servlet-name>xdsParserServices</servlet-name>
        <servlet-class>gov.nist.hit.ds.docentryeditor.server.XdsMetadataParserServicesImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xdsParserServices</servlet-name>
        <url-pattern>/xdseditor/xdsparser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <!-- servlet path -->
        <servlet-class>gov.nist.hit.ds.docentryeditor.server.UploadFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <!-- Ce qu'on a mis dans la vue à uploadForm.setAction -->
        <url-pattern>/ServletUpload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestFactoryServlet</servlet-name>
        <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
        <init-param>
            <param-name>symbolMapsDirectory</param-name>
            <!-- You'll need to compile with -extras and move the symbolMaps directory
                to this location if you want stack trace deobfuscation to work -->
            <param-value>WEB-INF/classes/symbolMaps/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestFactoryServlet</servlet-name>
        <url-pattern>/gwtRequest</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DocEntryEditorAppStandalone.html</welcome-file>
	</welcome-file-list>

</web-app>
